body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}


a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}


/* hide all by default */
ul ul {
    display: none;
}


li.active > ul {
    display: block;
}


li.active {
    background-color: antiquewhite;
    color: #fff;
}

li.expand > ul {
    display: block;
}

